.cpcontent
{
    width: 450px;
    height: 300px;
    border: 1px solid silver;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.cpcontent h3{
    text-align: center;
}

.button{
    height: 30px;
    color: white;
    background: dodgerblue;
    cursor: pointer;
    border: none;
}

.button:hover{
    background: blue;
}